* {
  font-family: sans-serif;
  font-size: 30px;
  background: #135fc2;
}
body {
  display: flex;
  align-items: center;
  background-size: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container {
  margin: auto;
  width: 250px;
  text-align: center;
  border: 10px solid rgba(53, 40, 167, 0.582);
  background: rgb(175, 112, 112);
  border-radius: 10px;
}
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

input[type="text"] {
  height: 55px;
  width: 249px;
  background-color: rgb(54, 49, 49);
  border: 2px;
  color: #ffffff;
  text-align: right;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
}

#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: #f31506;
}

#result {
  grid-column: 3/5;
  grid-row: 5;
  color: #262834;
}

#backspace {
  color: #e0f009;
}

button {
  margin: 2px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  background: #262834;
  color: #ffffff;
  font-weight: 500;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

.highlight {
  background: #56cb56;
}